.profile-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.profile-tab-button {
  padding: 10px 20px;
  background-color: #00aaff;
  border: 1px solid #ccc;
  color: white;
  border-radius: 7%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  margin-left: 5px;
}

.profile-tab-button.active {
  background-color: #0088cc;
  color: white;
}

.profile-content {
  padding: 20px;
}
