.car-details-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
  margin-left: 30px;
  font-family: "Arial", sans-serif;
}

.car-details-list {
  list-style: none;
  padding: 0;
}

.car-details-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.car-details-list li:last-child {
  border-bottom: none;
}

.car-details-list span {
  font-weight: bold;
}
